input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 2px solid #264c5e91;
  display: inline-flex;
  border-radius: 9999px;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 2.5rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:after {
  display: inline-block;
  position: absolute;
}

.number-input input[type=number] {
  max-width: 5rem;
  min-width: 3rem;
  padding: .5rem;
  border: solid #264c5e91;
  border-width: 0 2px;
  font-size: 1rem;
  height: 2.5rem;
  text-align: center;
}

.content {
  background: url("/static/images/d12.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 20% center;
}

.container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  height: 75vh;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  background-color: #dce7eceb;
  flex-direction: column;
  width: 60%;
  align-self: end;
  border-radius: 25px 0px 0px 25px;
  row-gap: 40px;
}

html {
  background-color: #7ab6d0;
  min-height: 100%;
}

.create-heading {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  margin-left: 2.5rem;
  font-weight: bold;
}

.subtitle {
  margin-left: 2.5rem;
}