.content {
    background: url("/static/images/d20.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20% center;
}

.container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    height: 75vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #dce7eceb;
    flex-direction: column;
    width: 60%;
    align-self: end;
    border-radius: 25px 0px 0px 25px;
}

html {
    background-color: #7ab6d0;
    min-height: 100%;
}

.subtitle {
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}