.content {
    background: url("/static/images/d20.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20% center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 75vh;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#enter-chat {
    background: #264c5e;
    border: 0px;
    padding: 25px 75px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    color: #ffffffc4;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
}

#enter-chat:hover {
    background: #1d3b49;
    cursor: pointer;
    color: #fff;
}

html {
    background-color: #7ab6d0;
    min-height: 100%;
}

.subtitle {
    color: #fff;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: 500;
}