.content {
    background: url("/static/images/d20.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20% center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 75vh;
    justify-content: center;
    align-items: center;
    align-content: center;
}

html {
    background-color: #7ab6d0;
    min-height: 100%;
}

.subtitle {
    color: #fff;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: 500;
}