<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="keywords" content="dndbot" />
        <meta name="description" content="dndbot" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'images/favicon.svg' %}" 
              rel="shortcut icon"
              type="image/svg+xml" />
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
              rel="stylesheet"
              type="text/css" />
        <link href="{% static 'fontawesomefree/css/solid.css' %}"
              rel="stylesheet"
              type="text/css" />
        <link href="{% static 'fontawesomefree/css/regular.css' %}"
            rel="stylesheet"
            type="text/css" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        {% block pagestylesheet %}{% endblock %}
        <title>
            {% block title %}DnDGPT{% endblock %}
        </title>
    </head>
    <body>
        <nav>
            <header class="heading">
                <h4>
                    <i class="fa-solid fa-hat-wizard header-icon"></i>DnDGPT
                </h4>
            </header>
            <ul class="nav-links">
                <li>
                    {% block navlink1 %}{% endblock %}
                </li>
                <li>
                    {% block navlink2 %}{% endblock %}
                </li>
                <li>
                    {% block navlink3 %}{% endblock %}
                </li>
            </ul>
        </nav>
        <div id="content" class="content">
            {% block content %}{% endblock %}
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    </body>
</html>
