{% extends 'base.html' %}
{% load static %}
{% block pagestylesheet %}
    <link rel="stylesheet" href="{% static 'css/characters.css' %}" />
{% endblock %}
{% block navlink1 %}
    <a href="{% url 'dndbot_characters' %}" class="active">
        <button type="button">Characters</button>
    </a>
{% endblock %}
{% block navlink2 %}
    <a href="{% url 'dndbot_chat' %}">
        <button type="button">Chat</button>
    </a>
{% endblock %}
{% block navlink3 %}
    <a href="{% url 'dndbot_clear' %}">
        <button type="button">Start over</button>
    </a>
{% endblock %}
{% block content %}
<div class="container">
    {% for character in characters %}
        <div class="character pad-top-50">
            <img src="{% static character.imageUrl %}"/><br><br>
            <div class="character-info">
                <span class="character-name">{{character.firstName}} {{character.lastName}} (lvl {{character.level}})</span>
                <div class="character-subinfo cgap-5">
                    <span class="character-subtitle">Race/class: {{character.race}} {{ character.class }}</span>
                    <span class="character-subtitle">Alignment: {{character.alignment}}</span>
                    <span class="character-subtitle">Background: {{character.background}}</span>
                </div>
                <div class="character-subinfo cgap-5 pad-top-10 jc-center">
                    <div class="character-stats">
                        <i class="fa-solid fa-heart stat-icon" style="color: #b3bed0;"></i> 
                        <span class="stat-label">Max HP</span>                   
                        <span class="stat-value">{{character.maxHp}}</span>
                    </div>
                    <div class="character-stats">
                        <i class="fa-solid fa-shield stat-icon" style="color: #b3bed0;"></i> 
                        <span class="stat-label">{{character.armorClass.type}}</span>                   
                        <span class="stat-value">{{character.armorClass.value}}</span>
                    </div>
                    <div class="character-stats">
                        <i class="fa-solid fa-certificate stat-icon" style="color: #b3bed0;"></i> 
                        <span class="stat-label">Initiative</span>                   
                        <span class="stat-value">+{{character.stats.dexterity.abilityModifier}}</span>
                    </div>
                    <div class="character-stats">
                        <i class="fa-solid fa-diamond stat-icon" style="color: #b3bed0;"></i> 
                        <span class="stat-label">Speed</span>                   
                        <span class="stat-value">{{character.speed}}</span>
                    </div>
                </div>
            </div>
        </div>
        Character: {{ character }} <br><br>
    {% endfor %}
</div>
{% endblock %}
