{% extends 'base.html' %}
{% load static %}
{% block pagestylesheet %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}" />
{% endblock %}
{% block navlink1 %}
    <a href="#">
        <button type="button">Characters</button>
    </a>
{% endblock %}
{% block navlink2 %}
    <a href="{% url 'dndbot_get' %}" class="active">
        <button type="button">Chat</button>
    </a>
{% endblock %}
{% block navlink3 %}
    <a href="{% url 'dndbot_clear' %}">
        <button type="button">Start over</button>
    </a>
{% endblock %}
{% block content %}
    <div id="conversation">
        {% for message in conversation %}
            {% if message.role == 'user' %}
                <div class="self messages">
                    <div class="user message">
                        <p class="msg-content">
                            <span class="msg-content-text">{{ message.content }}</span>
                            <i class="fa-solid fa-user user-role"></i>
                        </p>
                    </div>
                </div>
            {% elif message.role == 'assistant' %}
                <div class="bot messages">
                    <div class="dndbot message">
                        <p class="msg-content">
                            <i class="fa-solid fa-hat-wizard bot-role"></i>
                            <span class="msg-content-text">{{ message.content }}</span>
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="container">
        <div class="row">
            <div class="double-column">
                <textarea rows="3"
                          class="centered-textarea"
                          id="user-input"
                          type="text"
                          name="user_input"
                          placeholder="Your message"></textarea>
            </div>
            <div class="column">
                <button id="chat-submit" type="button" disabled>Send</button>
            </div>
        </div>
    </div>
    <div class="self-template self messages" hidden="hidden">
      <div class="user message">
          <p class="msg-content">
              <span class="msg-content-text"></span>
              <i class="fa-solid fa-user user-role"></i>
          </p>
      </div>
    </div>
    <div class="bot-template bot messages" hidden="hidden">
        <div class="dndbot message">
            <p class="msg-content">
                <i class="fa-solid fa-hat-wizard bot-role"></i>
                <span class="msg-content-text"></span>
            </p>
        </div>
    </div>

    <script>
      const conversation = document.getElementById("conversation");
      const userInput = document.getElementById("user-input");
      const sendButton = document.getElementById("chat-submit");
      const chatSocket = new WebSocket(
        "ws://" + window.location.host + "/ws/chat/dndbot/"
      );

      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log("echoing back:", data);

        let userMsg = $('.self-template').clone();
        let userMsgText = userMsg.find('.msg-content-text');
        userMsgText.html(data.message);
        userMsg.removeClass('.self-template');
        userMsg.removeAttr('hidden');

        conversation.append(userMsg[0]);
      };

      chatSocket.onclose = function (e) {
        console.error("Chat socket closed unexpectedly");
      };

      document.addEventListener("DOMContentLoaded", () => {
        // Scroll conversation to the bottom
        conversation.scrollTop = conversation.scrollHeight;

        // Submit the form when the user presses Enter key
        userInput.addEventListener("keypress", (e) => {
          if (e.key === "Enter") {
            e.preventDefault();
            sendButton.click();
          }
        });

        userInput.addEventListener("input", (e) => {
          const textInput = $.trim(e.target.value);
          if(!textInput.length) {
            sendButton.setAttribute('disabled', true);
          } else {
            sendButton.removeAttribute('disabled');
          }
        })

        // Focus on the user input field
        userInput.focus();
      });

      sendButton.onclick = function (e) {
        const message = userInput.value;
        chatSocket.send(
          JSON.stringify({
            message: message,
          })
        );
        userInput.value = "";
      };
    </script>
{% endblock %}
