{% extends 'base.html' %}
{% block content %}
    <h1><i class="fa-solid fa-hat-wizard"></i>DnD Bot</h1>
    <div id="conversation">
        {% for message in conversation %}
            {% if message.role == 'user' %}
                <div class="user-messages"><p>You: {{ message.content }}</p></div>
            {% elif message.role == 'assistant' %}
                <div class="dndbot-messages"><p>DnDBot: {{ message.content }}</p></div>
            {% endif %}
        {% endfor %}
    </div>       
    <form id="chat-form" method="POST" action="{% url 'dndbot_view' %}">
        {% csrf_token %}
        <div class="container">
            <textarea rows="3" class="centered-textarea" id="user-input" type="text" name="user_input" placeholder="Your message"></textarea>
            <input type="submit" value="Send">
        </div>
    </form>
    <form id="chat-form-clear" method="GET" action="{% url 'dndbot_view' %}">
        <input type="submit" value="Clear">
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const chatForm = document.getElementById('chat-form');
            const clearForm = document.getElementById('chat-form-clear');
            const userInput = document.getElementById('user-input');
            const conversation = document.getElementById('conversation');

            // Scroll conversation to the bottom
            conversation.scrollTop = conversation.scrollHeight;

            // Submit the form when the user presses Enter key
            userInput.addEventListener('keypress', (event) => {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    chatForm.submit();
                } else {
                    event.preventDefault();
                    clearForm.submit();
                }
            });

            // Focus on the user input field
            userInput.focus();
        });
    </script> 
    <style>
        #conversation {
            height: 500px;
            border: 1px solid #000;
            margin-bottom: 10px;
            overflow-y: scroll;
            background-color: #cfd3e1;
            border-radius: 10px;
        }
        .container {
            display: flex;
        }

        .container textarea {
            flex: 1;
            margin-right: 10px;
            font-size: 16px;
            border-radius: 10px;
        }

        .container input[type="submit"] {
            flex-shrink: 0;
            background: #264c5e;
            color: #fff;
            border: 0px;
            padding: 8px 16px;
            font-size: 14px;
            cursor: pointer;
            border-radius: 10px;
        }
        .user-messages{
            width: 100%;
            padding: 10px;
            background: #343541;
            color: #fff;
        }
        .chatbot-messages{
            width: 100%;
            padding: 10px;
            background: #444655;
            color: #fff;
        }
    </style>
{% endblock %}
