{% extends 'base.html' %}
{% load static %}
{% block pagestylesheet %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}
{% block content %}
    <body>
        <div class="container">
            <div class="row center-text">
                <div class="column">
                    <span class="subtitle">Are you ready to play?</span>
                </div>
            </div>
            <div class="row pad-top-25">
                <div class="column center-column">
                    <a href="{% url 'dndbot_create' %}">
                        <button type="button" class="main-button max-h">Let's Go!</button>
                    </a>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
